@model DynamicFitnessFertilizer.Models.LawnTool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LawnTool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolBrand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LawnToolsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
